/* REFERENCES 

Nuancier : https://htmlcolorcodes.com/fr/selecteur-de-couleur/
Triadique : #2d3033, #332d30, #30332d


*/

:root {
    --grey-dark: #151718;
    --grey-light: #E5E5E5;
    --red: #d00005;
}

/* POLICE */

@font-face {
    font-family: 'VCR';
    src: url('../fonts/vcr.ttf');
}

/* FLICKER */

@keyframes flickerAnimation {
    0% {
        opacity: 1;
    }

    49% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    99% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.animate-flicker {
    animation: flickerAnimation 4s infinite;
}

/* TYPING EFFECTS & DELAYED DISPLAY
    https://codepen.io/denic/pen/GRoOxbM */

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

@keyframes transitionDisplay {
    0% {
        opacity: 0;
    }
    99.99999% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.typing-effect {
    width: 29ch;
    animation: typing 3s steps(29), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    margin: auto;
    /* border-right: 3px solid var(--grey-light); */
}

.typing-last {
    width: 5ch;
    animation: transitionDisplay 4s ease-in, typing 1.5s steps(5) 4s, blink .5s step-end infinite alternate;
}

.delayed-display {
    animation: transitionDisplay 6s ease-in;
}


/* GENERAL */

body {
    font-family: 'VCR', sans-serif;
    color: var(--grey-light);
}

@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100% 3%;
    }
}

#container {
    padding: .5rem;
    background-color: var(--grey-dark);
    background-image: url('../img/noise.png');
    background-position: 0px 0px;
    animation: animatedBackground .3s ease-in infinite;
    box-sizing: border-box;
    min-height: 100vh;
}


#flex-wrapper {
    padding: 2rem 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh - 2rem);
    box-sizing: border-box;
    max-width: 1500px;
    margin: auto;
}

.red {
    color: var(--red);
}

.italic {
    font-style: italic;
}

p {
    font-size: 0.9rem;
    margin-bottom: .5rem;
    word-break: keep-all;
}

a:visited {
    color: var(--grey-light);
}


/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 2rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.timecode {
    font-size: 0.6rem;
}

#app-logo {
    position: relative;
    top: 1px;
}

.app-logo__play {
    position: relative;
    bottom: 6px;
}

/* #app-title {
    width: min-content;
} */

/* MAIN */

main {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    align-self: flex-end;
    text-align: center;
}

main h2 {
    margin-bottom: 1rem;
    font-weight: bold;
    line-height: 1.3;
}

section {
    margin-bottom: 2em;
}

button {
    width: fit-content;
    font-size: 1.3rem;
    color: var(--grey-dark);
    background: var(--grey-light);
    border: 3px solid transparent;
    font-family: "VCR", sans-serif;
    padding: 1em;
    box-shadow: 4px 4px var(--grey-light);
    cursor: pointer;
    transition: box-shadow 0.2s ease, color 0.1s ease, background 0.2s ease;
    box-sizing: border-box;
    opacity: .92;
    text-transform: uppercase;
}

button:hover {
    color: var(--grey-light);
    background: transparent;
    box-shadow: 8px 8px var(--grey-light);
    border: 3px solid var(--grey-light);
}

#launch-game {
    align-self: center;
    font-weight: bold;
}

span.circle-button {
    position: relative;
    bottom: 2px;
}

/* FOOTER */

footer {
    font-size: 0.6rem;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

/* RESPONSIVE > 600PX && < 900PX */
@media screen and (min-width:600px) {
    html {
        font-size: 20px;
    }

    #flex-wrapper {
        padding: 2rem 1rem 0 1rem;
    }

    main {
        text-align: right;
    }

    #launch-game {
        align-self: flex-end;
    }

    button {
        font-size: 1.1rem;
    }

    .typing-effect {
        margin: initial;
        margin-left: auto;
    }
}


/* RESPONSIVE > 900PX */

@media screen and (min-width:900px) {
    html {
        font-size: 25px;
    }

    button {
        font-size: 1rem;
    }

    #slp {
        font-size: 1.2rem;
    }

    .play-vhs {
        font-size: 1.5rem;
    }
}


/* RESPONSIVE < 300PX HAUTEUR, SMARTPHONE HORIZONTAL */

@media screen and (max-height:500px) {
    html {
        font-size: 14px;
    }
}

@media screen and (max-height:350px) {
    #flex-wrapper {
        padding: 0;
        min-height: calc(100vh - 1rem);
    }

    section,
    main h2 {
        margin-bottom: .5rem
    }

    /* .play vhs, header h1 {
        margin-right: auto;
    }

    header h1 {
        margin-left: auto;
    } */
}