/* REFERENCES 

Nuancier : https://htmlcolorcodes.com/fr/selecteur-de-couleur/
Triadique : #2d3033, #332d30, #30332d


*/

/* KEYFRAMES */

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

@keyframes transitionDisplay {
    0% {
        opacity: 0;
    }

    99.99999% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes transitionDisplayFade {
    from {
        visibility: hidden;
        opacity: 0;
    }

    to {
        visibility:visible;
        opacity: 1;
    }
}

@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100% 3%;
    }
}

@keyframes flickerAnimation {
    65% {
        opacity: 1;
    }

    66% {
        opacity: 0;
    }

    99% {
        opacity: 0;
    }
}

@keyframes flickerAnimationEase {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

:root {
    --grey-dark: #151718;
    --grey-light: #E5E5E5;
    --red: #d00005;
}

#slp,
.play-vhs,
#app-logo {
    cursor: default;
}

::selection {
    background-color: transparent;
    color: #898989;
}

/* POLICE */

@font-face {
    font-family: 'VCR';
    src: url('../fonts/vcr.ttf');
}

/* FLICKER */


.animate-flicker {
    animation: flickerAnimation 2s infinite;
}

.flicker__fast {
    animation: flickerAnimationEase .8s infinite 1s;
}

.typing-effect {
    width: 29ch;
    animation: typing 3s steps(29), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    margin: auto;
    /* border-right: 3px solid var(--grey-light); */
}

.typing-last {
    width: 5ch;
    animation: transitionDisplay 3s ease-in, typing 1.5s steps(5) 3s, blink .5s step-end infinite alternate;
    padding-right: 2px;
}

.delayed-display {
    animation: transitionDisplay 5.5s ease-in;
}

/* .delayed-display-fade {
    opacity: 0;
    visibility: hidden;
    animation: transitionDisplayFade 2s ease-in 5s forwards;
} */

.delayed-display-fade__question {
    opacity: 0;
    animation: transitionDisplayFade 2s ease-in 2s forwards;
}


/* GENERAL */

body {
    font-family: 'VCR', sans-serif;
    color: var(--grey-light);
    text-transform: uppercase;
}

#container {
    padding: .5rem;
    background-color: var(--grey-dark);
    background-image: url('../img/noise.gif');
    /* background-position: 0px 0px; */
    /* animation: animatedBackground .3s ease-in infinite; */
    box-sizing: border-box;
    min-height: 100vh;
    background-blend-mode: luminosity;
    background-size: cover;
}


#flex-wrapper {
    padding: .5rem 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: calc(100vh - 1.25rem);
    box-sizing: border-box;
    max-width: 1500px;
    margin: auto;
}

.red {
    color: var(--red);
}

.italic {
    font-style: italic;
}

p {
    font-size: 0.9rem;
    margin-bottom: .5rem;
    word-break: keep-all;
}

a,
a:visited {
    color: var(--grey-light);
    cursor: pointer;
}

input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: none;
}


/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

header h1 {
    font-size: 1.8rem;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.timecode {
    font-size: 0.6rem;
}

#app-logo {
    position: relative;
    top: 1px;
}

.app-logo__play {
    position: relative;
    bottom: 6px;
}

#slp {
    margin-bottom: .5rem;
}

/* MAIN */

main {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    align-self: center;
    text-align: center;
    margin-top: 1rem;
}

main h2 {
    margin: auto;
    margin-bottom: 1rem;
    font-weight: bold;
    line-height: 1.3;
    width: 80%;
    margin-top: 1rem;
}

section {
    margin-bottom: 2em;
    margin: auto;
}

button {
    width: fit-content;
    font-size: 1.3rem;
    color: var(--grey-dark);
    background: var(--grey-light);
    border: 3px solid transparent;
    font-family: "VCR", sans-serif;
    padding: 1em;
    box-shadow: 4px 4px var(--grey-light);
    cursor: pointer;
    transition: box-shadow 0.2s ease, color 0.1s ease, background 0.2s ease;
    box-sizing: border-box;
    opacity: .92;
    font-weight: bold;
    text-transform: uppercase;
}


@media (hover:hover) {
    /* Hover effect only on devices that fully support them */
    button:hover {
        color: var(--grey-light);
        background: transparent;
        box-shadow: 8px 8px var(--grey-light);
        border: 3px solid var(--grey-light);
    }
}

.button-clicked {
    color: var(--grey-light);
    background: transparent;
    box-shadow: 8px 8px var(--grey-light);
    border: 3px solid var(--grey-light);
}


/* ROUTINE DE QUESTIONS */

#launch-game {
    align-self: center;
    font-weight: bold;
    margin-top: 1em;
}

span.circle-button {
    position: relative;
    bottom: 2px;
}

button.answer-button {
    font-size: initial;
    margin-bottom: 1em;
    /* display: block; */
}

button.discover-button {
    font-size: 0.9em;
}

.next-question {
    margin: 0 auto 0 auto;
    width: fit-content;
    cursor: pointer;
    padding: 1em;
    letter-spacing: 1px;
    font-size: .8em;
}

span.forward {
    letter-spacing: -4px;
    position: relative;
    bottom: 1px;
}

#answer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p.show-everything {
    font-size: .6rem;
}

/* AFFICHAGE DES RESULTATS */

main section.section-result {
    margin-bottom: 2rem;
}

p.divider:before {
    content: '---';
}

p.divider {
    margin-bottom: 1rem;
}

div#movie-holder p {
    font-size: .75em;
}

main h3 {
    font-size: .85rem;
    margin-bottom: 0.4em;
    font-weight: bold
}

aside img {
    border: 3px solid var(--grey-light);
    box-shadow: 5px 5px var(--grey-light);
    /* cursor: pointer; */
    margin-bottom: 1rem;
}

.provider-infos {
    white-space: break-spaces;
}

div#providers {
    display: flex;
    justify-content: space-evenly;
}

#providers div {
    width: 50%;
}

a.reload-data:hover {
    animation: flickerAnimationEase .8s infinite .2s;
}

/* FOOTER */

footer {
    font-size: 0.6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

/* *************** RESPONSIVE ************ */

/* RESPONSIVE > 600PX */
@media screen and (min-width:600px) {
    html {
        font-size: 20px;
    }

    #flex-wrapper {
        padding: 2rem 1rem 0 1rem;
    }

    main {
        text-align: right;
    }

    main h2 {
        width: unset;
        margin: 0 0 1rem 0;
    }

    main section {
        margin: initial;
    }

    main section.section-result {
        display: flex;
        margin-bottom: .5rem;
    }

    #launch-game {
        align-self: flex-end;
    }

    button {
        font-size: 1.1rem;
    }

    .typing-effect {
        margin: initial;
        margin-left: auto;
    }

    footer {
        flex-direction: row;
        align-items: baseline;
    }

    #slp {
        margin-bottom: 0;
    }

    #answer-wrapper {
        display: block;
        max-width: 600px;
        margin-left: auto;
    }

    div#movie-holder p {
        margin-left: 1.4rem;
    }

    .answer-button,
    main section h3,
    main section h2, 
    .divider {
        margin-left: 1rem;
    }

    .next-question {
        font-size: .5rem;
        margin: 0 0 0 auto;
    }

    div#movie-holder p {
        font-size: .65em;
    }

    div#providers {
        display: block;
    }
    
    #providers div {
        width: auto;
    }

    p.divider {
        margin-bottom: .5rem;
    }
    
}


/* RESPONSIVE > 900PX */

@media screen and (min-width:900px) {
    html {
        font-size: 25px;
    }

    main {
        align-self: flex-end;
        max-width: 750px;
    }

    button {
        font-size: 1rem;
    }

    #slp {
        font-size: 1.2rem;
    }

    .play-vhs {
        font-size: 1.5rem;
    }

    #movie-holder {
        text-align: left;
    }

    div#providers {
        display: flex;
        justify-content: space-evenly;
    }
    
    #providers div {
        width: 50%;
    }
}


/* RESPONSIVE < 300PX HAUTEUR, SMARTPHONE HORIZONTAL */

@media screen and (max-height:500px) {
    html {
        font-size: 14px;
    }
}

@media screen and (max-height:350px) {
    #flex-wrapper {
        padding: 0;
        min-height: calc(100vh - 1rem);
    }

    section,
    main h2 {
        margin-bottom: .5rem
    }
}